@import url('https://fonts.googleapis.com/css2?family=Fjalla+One&display=swap');

* {
    text-decoration: none !important;
    list-style: none;
}

.img-logo {
    padding: 20px;
    width: 180px;
    height: 75px;  
    display: block;
    margin: 0px auto; 
    filter:brightness(75%);
}

.header-style {
    padding-top: 10px;
}

.title {
    color: #003a7a;
    font-family: 'Fjalla One', sans-serif;
    font-size: 45px;
    text-transform: uppercase;
}

.subtitle {
    color: #006633;
    font-family: 'Fjalla One', sans-serif;
    font-size: 25px;
}

.title-cibio {
    color: #003a7a;
    font-family: 'Fjalla One', sans-serif;
    font-size: 60px;
    text-align: center;   
    text-transform: uppercase; 
}

.subtitle-cibio {
    color: #006633;
    font-family: 'Fjalla One', sans-serif;
    font-size: 20px;
    text-align: center;
}

.obj {
    color: #0d2453;
    font-family: 'Fjalla One', sans-serif;
    font-size: 25px;
    text-align: center; 
    padding-top: 20px;      
}

.obj-text {
    font-size: 18px;
    text-align: center; 
}

.cibio-article {
    font-size: 18px;
    text-align: center;
    padding-left: 400px;
    padding-right: 400px;
}

/* Slideshow container */
.slideshow-container {
    position: relative;
    background: #f1f1f1f1;
  }
  
/* Slides */
.mySlides {
    display: none;
    padding: 80px;
    text-align: center;
}
  
/* Next & previous buttons */
.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -30px;
    padding: 16px;
    color: #888;
    font-weight: bold;
    font-size: 20px;
    border-radius: 0 3px 3px 0;
    user-select: none;
}
  
/* Position the "next button" to the right */
.next {
    position: absolute;
    right: 0;
    border-radius: 3px 0 0 3px;
}
  
/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
    background-color: rgba(0,0,0,0.8);
    color: white;
}
  

  